name: Testing

on:
  push:
    branches:
      - '**'

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: psf/black@stable
        with:
          src: "./mom6_regional ./tests"

  testing:
    needs: formatting
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    strategy:
      matrix:
        python-version: ["3.9", "3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          auto-activate-base: false
          environment-file: environment-ci.yml
          python-version: ${{ matrix.python-version }}
      - name: Install from source
        run: |
          python -m pip install .
      - name: Install pytest
        run: |
          python -m pip install pytest pytest-cov
      - name: Test with pytest
        run: |
          if [[ "${{ matrix.python-version }}" == "3.10" ]]; then
            python -m pytest --cov=mom6_regional --cov-report=xml tests/
          else
            python -m pytest tests/
          fi
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        if: ${{ matrix.python-version == '3.10' }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./coverage/reports/
          env_vars: OS,PYTHON
          files: ./coverage.xml
          name: codecov-umbrella
