name: Testing

on:
  push:
    branches:
      - '**'

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: psf/black@stable
        with:
          src: "./regional_mom6 ./tests"

  testing:
    needs: formatting
    runs-on: ubuntu-latest
    container: ghcr.io/cosima/regional-test-env:updated
    defaults:
      run:
        shell: bash -el {0}
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest"
          auto-update-conda: true
          auto-activate-base: false
          environment-file: environment-ci.yml
          python-version: ${{ matrix.python-version }}
      - name: Install from source
        run: |
          python -m pip install .
      - name: Install pytest
        run: |
          python -m pip install pytest pytest-cov nbval
      - name: Test with pytest
        run: |
          if [[ "${{ matrix.python-version }}" == "3.10" ]]; then
            python -m pytest -v --doctest-modules --cov=regional_mom6 --cov-report=xml tests/ regional_mom6/
          else
            python -m pytest -v --doctest-modules tests/ regional_mom6/
          fi
      - name: Test the example notebook
        run: |
          ln -s /data demos/PATH_TO_GLORYS_DATA
          ln -s /data demos/PATH_TO_GEBCO_FILE
          ln -s /build/FRE-NCtools/tools demos/PATH_TO_FRE_TOOLS
          python -m pytest --nbval demos/reanalysis-forced.ipynb --nbval-current-env --cov=regional_mom6 --cov-report=xml tests/

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        if: ${{ matrix.python-version == '3.10' }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./coverage/reports/
          env_vars: OS,PYTHON
          files: ./coverage.xml
          name: codecov-umbrella
